{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_awareness/modal_notice

    Template for modal pop up.

    Context variables required for this template:
      * classes
      * uniqid
      * headerclasses
      * header
      * title
      * body
      * footer

    Example context (json):
    {
        "classes": "classes",
        "uniqid": "uniqid",
        "headerclasses": "headerclasses",
        "header": "header",
        "title": "title",
        "body": "body",
        "footer": "footer"
    }
}}

<div class="modal moodle-has-zindex" data-region="modal-container" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="{{uniqid}}-modal-title">
    <div class="modal-dialog awareness modal-lg {{$classes}}{{/classes}}" role="document" data-region="modal" tabindex="0">
        <div class="modal-content shadow-lg border-0 rounded">
            <div class="modal-header bg-light border-bottom-0 {{$headerclasses}}{{headerclasses}}{{/headerclasses}}" data-region="header">
                {{$header}}
                    <h5 id="{{uniqid}}-modal-title" class="modal-title" data-region="title">{{$title}}{{title}}{{/title}}</h5>
                    <button id="awareness-closebtn" type="button" class="btn-close" data-action="close" aria-label="{{#cleanstr}}closebuttontitle{{/cleanstr}}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {{/header}}
            </div>
            <div class="modal-body px-4 py-3" data-region="body">
                {{$body}}
                    {{{body}}}
                {{/body}}
            </div>
            <div class="modal-footer bg-white border-top-0 d-flex justify-content-between align-items-center px-4 pb-4" data-region="footer">
                {{$footer}}
                     <div class="form-check d-none" id="awareness-ack-container">
                        <input type="checkbox" class="form-check-input" id="awareness-modal-ackcheckbox">
                        <label class="form-check-label ms-2" for="awareness-modal-ackcheckbox">
                            {{#str}} modal:checkboxtext, local_awareness {{/str}}
                        </label>
                    </div>
                    {{!
                        Two exit buttons rather than one whose label is swapped at runtime. Both
                        carry data-action close and both record a dismissal; only one is ever
                        visible. Swapping a label meant fetching a string asynchronously and
                        writing it in after render, which is how the acknowledgement checkbox came
                        to claim a logout that no longer happened - if that request lost, the wrong
                        wording simply stood. A hidden sibling cannot lose a race.
                    }}
                    <div class="ms-auto">
                        <button id="awareness-closebtn-footer" type="button" class="btn btn-primary px-4" data-action="close">
                            {{#str}} button:close, local_awareness {{/str}}
                        </button>
                        <button id="awareness-notnowbtn" type="button" class="btn btn-secondary px-4 d-none" data-action="close">
                            {{#str}} button:notnow, local_awareness {{/str}}
                        </button>
                        <button id="awareness-acceptbtn" type="button" class="btn btn-primary px-4 ms-2 d-none" data-action="accept">
                            {{#str}} button:accept, local_awareness {{/str}}
                        </button>
                    </div>
                {{/footer}}
            </div>
        </div>
    </div>
</div>
